{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 4,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "printWidth": 80,
  "trailingComma": "all",
  "bracketSpacing": true,
  "editorconfig": true
}